@model SINF_App.Models.FiltroConversao

@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>Confirmar Documento</h2>

<fieldset> @*campos so para confirmar info*@
    <legend>FiltroConversao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nrDocumentoExterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nrDocumentoExterno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idArmazem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idArmazem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipoDestino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoDestino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idDocument)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDocument)
    </div>
</fieldset>


 @if(String.Compare("VGT", Model.idDocument) == 0){
     @*mostra botao confirmar*@
     <div>VGT</div>
 }
 @if (String.Compare("VFA", Model.idDocument) == 0)
 {
     //tratar estorno
     foreach(KeyValuePair<int, double> linhaQtdd in Model.quantidades)
     {
         
     }
        <div>VFA</div>
     @*mostra botao confirmar*@
 }