@model SINF_App.Models.DocCompra

@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>ConfirmOrder</h2>

<fieldset>
    <legend>DocCompra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumDocExterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumDocExterno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Entidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Entidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumDoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumDoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalMerc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalMerc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>
</fieldset>

