@model SINF_App.Models.DocCompra

@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>Transformação de documento</h2>

<div class="alert alert-success" role="alert">
    <strong>Sucesso!</strong>
    <p>Transformação de documento realizada com sucesso.</p>
</div>

<h4>
    <small>@Html.DisplayNameFor(model => model.NumDoc)</small> @Html.DisplayFor(model => model.NumDoc)
</h4>

<h4>
    <small>@Html.DisplayNameFor(model => model.Serie)</small> @Html.DisplayFor(model => model.Serie)
</h4>

<h4>
    <small>@Html.DisplayNameFor(model => model.NumDocExterno)</small> @Html.DisplayFor(model => model.NumDocExterno)
</h4>

<h4>
    <small>@Html.DisplayNameFor(model => model.tipo)</small> @Html.DisplayFor(model => model.tipo)
</h4>

<h4>
    <small>@Html.DisplayNameFor(model => model.Nome)</small> @Html.DisplayFor(model => model.Nome)
</h4>

<h4>
    <small>Cod. Fornecedor</small> @Html.DisplayFor(model => model.Entidade)
</h4>

<h4>
    <small>@Html.DisplayNameFor(model => model.Data)</small> @Model.Data.ToShortDateString()
</h4>

<h4>
    <small>Total</small> @Math.Abs(Model.TotalMerc) €
</h4>

<h3>Artigos do Documento</h3>

<div class="table-responsive">
    <table class="table">

        <tr>
            <th>Num Linha</th>
            <th>Codigo</th>
            <th>Descricao</th>
            <th>Armazem</th>
            <th>Lote</th>
            <th>€ / Unidade</th>
            <th>Desconto</th>
            <th>Unidade</th>
            <th>Quantidade</th>
            <th>Total Iliquido</th>
            <th>Total Liquido</th>
        </tr>
        
        @foreach (var line in Model.LinhasDoc)
        {
            <tr>
                <td>@line.NumLinha</td>
                <td>@line.CodArtigo</td>
                <td>@line.DescArtigo</td>
                <td>@line.Armazem</td>
                <td>@line.Lote</td>
                <td>@Math.Abs(line.PrecoUnitario).ToString("0.00") €</td>
                <td>@line.Desconto</td>
                <td>@line.Unidade</td>
                <td>@Math.Abs(line.Quantidade)</td>
                <td>@(Math.Abs(line.TotalILiquido).ToString("0.00")) €</td>
                <td>@Math.Abs(line.TotalLiquido).ToString("0.00") €</td>
            </tr>
        }

    </table>
</div>






