@model SINF_App.Models.EncomendaFornecedor

@{
    ViewBag.Title = Html.DisplayFor(model => model.NumDoc);
}

<h2>Encomenda</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                <div class="display-field">
                    @Html.DisplayNameFor(model => model.Entidade)
                </div>
            </th>

            <th>
                <div class="display-field">
                    @Html.DisplayNameFor(model => model.Data)
                </div>
            </th>

            <th>
                <div class="display-field">
                    Total
                </div>
            </th>

            <th>
                <div class="display-field">
                    Num de Linhas
                </div>
            </th>
        </tr>

        <tr>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Entidade)
                </div>
            </td>

            <td>
                <div class="display-field">
                    @Model.Data.ToShortDateString()
                </div>
            </td>

            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TotalMerc) €
                </div>
            </td>

            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LinhasDoc.Count) linhas
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- ====================== DETALHES ====================== -->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Detalhes
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

            <div class="panel-body">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.NumDocExterno)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.NumDocExterno)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Entidade)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Entidade)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.NumDoc)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.NumDoc)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Data)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Data)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.TotalMerc)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.TotalMerc)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Serie)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Serie)
                </div>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LinhasDoc)
                </div>
                
            </div>
        </div>
    </div>
</div>


<!-- ================= LINHAS DOC ======================= -->

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                <!-- Num Linha -->
                <div class="display-label">
                    NumLinha
                </div>
            </th>
            <th>
                <!-- Armazem -->
                <div class="display-label">
                    Armazem
                </div>
            </th>
            <th>
                <!-- CodArtig -->
                <div class="display-label">
                    CodArtigo
                </div>
            </th>
            <th>
                <!-- DescArtigo -->
                <div class="display-label">
                    DescArtigo
                </div>
            </th>
            <th>
                <!-- Desconto -->
                <div class="display-label">
                    Desconto
                </div>
            </th>
            <th>
                <!-- Lote -->
                <div class="display-label">
                    Lote
                </div>
            </th>
            <th>
                <!-- PrecoUnitario -->
                <div class="display-label">
                    PrecoUnitario
                </div>
            </th>
            <th>
                <!-- Unidade -->
                <div class="display-label">
                    Unidade
                </div>
            </th>
            <th>
                <!-- Quantidade -->
                <div class="display-label">
                    Quantidade
                </div>
            </th>
            <th>
                <!-- Quantidade Satisfeita -->
                <div class="display-label">
                    Quantidade Satisfeita
                </div>
            </th>
            <th>
                <!-- Total Iliquido -->
                <div class="display-label">
                    Total Iliquido
                </div>
            </th>
            <th>
                <!-- Total Liquido -->
                <div class="display-label">
                    Total Liquido
                </div>
            </th>

        </tr>

        @foreach (var line in Model.LinhasDoc)
        {
            <tr>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.NumLinha)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Armazem)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.CodArtigo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.DescArtigo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Desconto)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Lote)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.PrecoUnitario)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Unidade)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Quantidade)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.QuantidadeSatisfeita)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.TotalILiquido)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.TotalLiquido)
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

