@model SINF_App.Models.EncomendaFornecedor

@{
    ViewBag.Title = Html.DisplayFor(model => model.NumDoc);
}

<h2>Encomenda</h2>

<!-- ====================== DETALHES ====================== -->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">

            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title">
                    @Html.DisplayFor(model => model.Entidade)
                </h4>
                <h4 class="panel-title">
                    <small>@Model.Data.ToShortDateString()</small>
                </h4>

                <h4 class="panel-title">
                    @Html.DisplayFor(model => model.TotalMerc) €
                </h4>
            </a>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

            <div class="panel-body">                

                <h4>
                    <small>@Html.DisplayNameFor(model => model.Entidade)</small> @Html.DisplayFor(model => model.Entidade)
                </h4>

                <h4>
                    <small>@Html.DisplayNameFor(model => model.Data)</small> @Model.Data.ToShortDateString()
                </h4>

                <h4>
                    <small>Total </small> @Html.DisplayFor(model => model.TotalMerc) €
                </h4>

                <h4>
                    <small>@Html.DisplayNameFor(model => model.NumDoc)</small> @Html.DisplayFor(model => model.NumDoc)
                </h4>

                <h4>
                    <small>@Html.DisplayNameFor(model => model.Serie)</small> @Html.DisplayFor(model => model.Serie)
                </h4>

                <h4>
                    <small>@Html.DisplayNameFor(model => model.NumDocExterno)</small> @Html.DisplayFor(model => model.NumDocExterno)
                </h4>

            </div>
        </div>
    </div>
</div>


<!-- ================= LINHAS DOC ======================= -->

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                <!-- Num Linha -->
                <div class="display-label">
                    NumLinha
                </div>
            </th>
            <th>
                <!-- Armazem -->
                <div class="display-label">
                    Armazem
                </div>
            </th>
            <th>
                <!-- CodArtig -->
                <div class="display-label">
                    CodArtigo
                </div>
            </th>
            <th>
                <!-- DescArtigo -->
                <div class="display-label">
                    DescArtigo
                </div>
            </th>
            <th>
                <!-- Desconto -->
                <div class="display-label">
                    Desconto
                </div>
            </th>
            <th>
                <!-- Lote -->
                <div class="display-label">
                    Lote
                </div>
            </th>
            <th>
                <!-- PrecoUnitario -->
                <div class="display-label">
                    PrecoUnitario
                </div>
            </th>
            <th>
                <!-- Unidade -->
                <div class="display-label">
                    Unidade
                </div>
            </th>
            <th>
                <!-- Quantidade -->
                <div class="display-label">
                    Quantidade
                </div>
            </th>
            <th>
                <!-- Quantidade Satisfeita -->
                <div class="display-label">
                    Quantidade Satisfeita
                </div>
            </th>
            <th>
                <!-- Total Iliquido -->
                <div class="display-label">
                    Total Iliquido
                </div>
            </th>
            <th>
                <!-- Total Liquido -->
                <div class="display-label">
                    Total Liquido
                </div>
            </th>

        </tr>

        @foreach (var line in Model.LinhasDoc)
        {
            <tr>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.NumLinha)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Armazem)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.CodArtigo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.DescArtigo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Desconto)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Lote)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.PrecoUnitario)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Unidade)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.Quantidade)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.QuantidadeSatisfeita)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.TotalILiquido)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(modelItem => line.TotalLiquido)
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

