@model SINF_App.Models.EncomendaFornecedor

@{
    ViewBag.Title = Html.DisplayFor(model => model.NumDoc);
}


@using (Html.BeginForm("ConfirmOrder", "Home", new
    {
        Company = ViewBag.loginInfo.Company,
        Username = ViewBag.loginInfo.Username,
        Password = ViewBag.loginInfo.Password,
        Storage = ViewBag.loginInfo.Storage,
        idDocument = @Model.id
    }))
{

    <h2>Encomenda</h2>

    <!-- ====================== DETALHES DA ENCOMENDA - HEADER====================== -->

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <!-- VISIBLE -->
            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="row">

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>@Html.DisplayNameFor(model => model.Entidade)</strong>
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>@Html.DisplayNameFor(model => model.Data)</strong>
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>Total</strong>
                        </h4>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- ====================== DETALHES DA ENCOMENDA ====================== -->

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <!-- VISIBLE -->
            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="row">

                    <div class="col-md-1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @Html.DisplayFor(model => model.Entidade)
                        </a>
                    </div>

                    <div class="col-md-1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @Model.Data.ToShortDateString()
                        </a>
                    </div>

                    <div class="col-md-1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @Html.DisplayFor(model => model.TotalMerc) €
                        </a>
                    </div>

                </div>

            </div>



            <!-- COLLAPSE -->
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                <div class="panel-body">

                    <h4>
                        <small>@Html.DisplayNameFor(model => model.Entidade)</small> @Html.DisplayFor(model => model.Entidade)
                    </h4>

                    <h4>
                        <small>@Html.DisplayNameFor(model => model.Data)</small> @Model.Data.ToShortDateString()
                    </h4>

                    <h4>
                        <small>Total </small> @Html.DisplayFor(model => model.TotalMerc) €
                    </h4>

                    <h4>
                        <small>Num Doc</small> @Html.DisplayFor(model => model.NumDoc)
                    </h4>

                    <h4>
                        <small>@Html.DisplayNameFor(model => model.Serie)</small> @Html.DisplayFor(model => model.Serie)
                    </h4>

                    <h4>
                        <small>Num Doc Externo</small> @Html.DisplayFor(model => model.NumDocExterno)
                    </h4>

                </div>
            </div>
        </div>
    </div>

    <!-- ================= LINHAS DA ENCOMENDA ======================= -->

    <h3>Artigos da Encomenda</h3>

    <!-- LINHAS DOC - Header -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <!-- VISIBLE -->
            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="row">

                    <div class="col-md-1"></div>

                    <div class="col-md-2">
                        <h4 class="panel-title">
                            <strong>Quantidade recebida</strong>
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>Codigo</strong>
                        </h4>
                    </div>

                    <div class="col-md-4">
                        <h4 class="panel-title">
                            <strong>Descricao</strong>
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>Quantidade em falta</strong>
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <h4 class="panel-title">
                            <strong>€ / Unidade</strong>
                        </h4>
                    </div>

                </div>

            </div>

        </div>


        <!-- LINHAS DOC - Lista de Artigos -->
        @foreach (var line in Model.LinhasDoc)
        {
            var rowId = line.NumLinha.ToString();
            var rowCollapse = rowId + "Collapse";
            var rowCollapseId = "#" + rowCollapse;

            if (line.QuantidadeSatisfeita >= line.Quantidade) { continue; }


            <div class="panel panel-default">

                <!-- VISIBLE -->
                <div class="panel-heading" role="tab" id="headingTwo">

                    <div class="row">
                        @{var qtdEmFalta = line.Quantidade - line.QuantidadeSatisfeita;}



                        <div class="col-md-1">
                            @if (qtdEmFalta > 0 && String.Compare(line.Armazem, ViewBag.loginInfo.Storage) == 0)
                            {
                                <button type="button" class="btn btn-primary">Qtd. Total</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" disabled>Qtd. Total</button>
                            }
                        </div>

                        <div class="col-md-2">
                            <div class="input-group input-group-sm" id="inputDisabled" data-toggle="tooltip" data-placement="right" title="O armazém actual não é o local de recepção deste artigo.">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="minus" data-field=@rowId>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>

                                @if (qtdEmFalta > 0 && String.Compare(line.Armazem, ViewBag.loginInfo.Storage) == 0)
                                {
                                    <input type="text" name=@rowId class="form-control input-number" value="0" min="0" max=@qtdEmFalta>
                                }
                                else
                                {
                                    @*<div id="inputDisabled" data-toggle="tooltip" data-placement="right" title="O armazém actual não é o local de recepção deste artigo.">*@
                                    <input type="text" name=@rowId class="form-control input-number" value="0" min="0" max="0" disabled readonly>
                                    @*</div>*@
                                }
                                <span class="input-group-btn ">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field=@rowId>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>

                        </div>




                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href=@rowCollapseId aria-expanded="false" aria-controls="collapseTwo">

                            <div class="col-md-1">

                                @Html.DisplayFor(modelItem => line.CodArtigo)

                            </div>

                            <div class="col-md-4">

                                @Html.DisplayFor(modelItem => line.DescArtigo)

                            </div>

                            <div class="col-md-1" id="qtdEmFalta">

                                @qtdEmFalta @Html.DisplayFor(modelItem => line.Unidade)

                            </div>

                            <div class="col-md-1">

                                @Html.DisplayFor(modelItem => line.PrecoUnitario) €

                            </div>

                        </a>

                    </div>

                </div>



                <!-- COLLAPSE -->
                <div id=@rowCollapse class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                    <div class="panel-body">

                        <!-- Num Linha -->
                        <h4>
                            <small>Num Linha</small> @Html.DisplayFor(modelItem => line.NumLinha)
                        </h4>

                        <!-- Armazem -->
                        <h4>
                            <small>Armazem</small> @Html.DisplayFor(modelItem => line.Armazem)
                        </h4>

                        <!-- CodArtig -->
                        <h4>
                            <small>Cod. Artigo</small> @Html.DisplayFor(modelItem => line.CodArtigo)
                        </h4>

                        <!-- DescArtigo -->
                        <h4>
                            <small>Desc. Artigo</small> @Html.DisplayFor(modelItem => line.DescArtigo)
                        </h4>

                        <!-- Desconto -->
                        <h4>
                            <small>Desconto</small> @Html.DisplayFor(modelItem => line.Desconto)%
                        </h4>

                        <h4>
                            <small>Unidade</small> @Html.DisplayFor(modelItem => line.Unidade)
                        </h4>

                        <!-- Quantidade -->
                        <h4>
                            <small>Quantidade</small> @Html.DisplayFor(modelItem => line.Quantidade) @Html.DisplayFor(modelItem => line.Unidade)
                        </h4>

                        <!-- Quantidade Satisfeita -->
                        <h4>
                            <small>Quantidade Satisfeita</small> @Html.DisplayFor(modelItem => line.QuantidadeSatisfeita) @Html.DisplayFor(modelItem => line.Unidade)
                        </h4>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">



        <div class="panel panel-default">

            <!-- VISIBLE -->
            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="row">
                    <div class="col-md-2">
                        <small><strong>Armazem</strong> </small>
                    </div>

                    <div class="col-md-2">
                        <small><strong>Documento</strong></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <!-- VISIBLE -->
            <div class="panel-heading" role="tab" id="headingTwo">
                <div class="row">

                    @*<div class="col-md-2">
                            @{Html.RenderAction("Armazens");}
                        </div>*@

                    <div class="col-md-2">
                        <select class="form-control" name="tipoDestino">
                            <option value="VFA">Factura</option>
                            <option value="VGT">Guia de Transporte</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <input type="text" name="nrDocExterno" class="form-control" value="Nr. Doc. Externo">
                    </div>

                    <div class="col-md-2">
                        <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary">
                            Confirmar recepção
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/page")
}
