@model IEnumerable<SINF_App.Models.EncomendaFornecedor>

@{
    ViewBag.Title = "DetailOrder";
}

<h2>DetailOrder</h2>

@foreach (var item in Model)
{
    <fieldset>
        <legend>DocCompra</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.NumDocExterno)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.NumDocExterno)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Entidade)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Entidade)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.NumDoc)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.NumDoc)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Data)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Data)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.TotalMerc)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.TotalMerc)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Serie)
        </div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Serie)
        </div>
    </fieldset>
}
    
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
