@model IEnumerable<SINF_App.Models.DocCompra>

@{
    
}

@*
   
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumDocExterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Entidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalMerc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Serie)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDocExterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMerc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </td>
            </tr>
        }

        </table>
@*
