@model IEnumerable<SINF_App.Models.DocCompra>


<div class="container">


    <h2>Encomendas</h2>


    <!--Pesquisa-->
    @*<div class="form-group">
            <div class="row">
                <label for="sel1">Select list:</label>
                <select class="form-control" id="fornecedor">

                </select>
            </div>
        </div>*@


    @{
        Dictionary<string, string> fornecedores = new Dictionary<string, string>();

        foreach (var item in Model)
        {
            if (!fornecedores.ContainsKey(item.Entidade))
            {
                fornecedores.Add(item.Entidade, item.Nome);
            }
        }
    }

    @*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Fornecedor
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        @foreach (KeyValuePair<string, string> pair in fornecedores)
                        {
                            <li role="presentation">
                                @Html.ActionLink(pair.Value, "Encomendas", "Home", new
                       {
                           Username = ViewBag.loginInfo.Username,
                           Company = ViewBag.loginInfo.Company,
                           Password = ViewBag.loginInfo.Password,
                           Storage = ViewBag.loginInfo.Storage,
                           IdFornecedor = pair.Key
                       }, null)
                                </li>
                                }
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>*@

    @{Html.RenderAction("Fornecedores");}


    <!-- HEADER -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingTwo">

                <div class="row">

                    <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
                        <h4 class="panel-title">
                            <strong>Fornecedor</strong>
                        </h4>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h4 class="panel-title">
                            <strong>@Html.DisplayNameFor(model => model.Data)</strong>
                        </h4>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <h4 class="panel-title">
                            <strong>Nr. Artigos</strong>
                        </h4>
                    </div>

                    <div class="col-md-2 col-sm-2 text-right">
                        <h4 class="panel-title">
                            <strong>Total</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>



        @foreach (var item in Model)
        {
            var rowId = item.Serie.ToString() + item.NumDoc.ToString();
            var rowCollapse = rowId + "Collapse";
            var rowCollapseId = "#" + rowCollapse;
            float total;
            float.TryParse(item.TotalMerc.ToString(), out total);

            <div class="panel panel-default">

                <!-- VISIBLE -->
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="row">

                        <div class="col-md-2 col-sm-2">
                            <a class="btn btn-primary" href="@Url.Action("DetailOrder", "Home", new
                                                        {
                                                            Company = ViewBag.loginInfo.Company,
                                                            Username = ViewBag.loginInfo.Username,
                                                            Password = ViewBag.loginInfo.Password,
                                                            Storage = ViewBag.loginInfo.Storage,
                                                            idDocument = @Html.DisplayFor(modelItem => item.id)
                                                        })">
                                Receber
                            </a>
                        </div>

                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href=@rowCollapseId aria-expanded="false" aria-controls="collapseTwo">
                            <div class="col-md-3 col-sm-3">
                                <h4 class="panel-title">
                                    @item.Nome
                                </h4>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <h4 class="panel-title">
                                    @item.Data.ToShortDateString()
                                </h4>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <h4 class="panel-title">
                                    @Html.DisplayFor(model => item.LinhasDoc.Count)
                                </h4>
                            </div>

                            <div class="col-md-2 col-sm-2 text-right">
                                <h4 class="panel-title">
                                    @total.ToString("0.00") €
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>

                @*COLLAPSE*@
                <div id=@rowCollapse class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                    <div class="panel-body">
                        <div class="col-sm-4 col-md-3 col-md-offset-2 col-sm-offset-2">Cod. Fornecedor <strong>@item.Entidade</strong></div>
                        <div class="col-sm-3 col-md-3">Série <strong>@item.Serie</strong></div>
                        <div class="col-sm-3 col-md-3">Nr. Doc <strong>@item.NumDoc</strong></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
