@model IEnumerable<SINF_App.Models.DocCompra>

@{

}
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="row ">
            <div class="col-sm-3"><h4>@Html.DisplayNameFor(model => model.Entidade)</h4></div>
            <div class="col-sm-3"><h4>@Html.DisplayNameFor(model => model.Data)</h4></div>
            <div class="col-sm-3"><h4>@Html.DisplayNameFor(model => model.TotalMerc)</h4></div>
            <div class="col-sm-3"><h4>Nr. Linhas</h4></div>
        </div>
        @foreach (var item in Model)
        {
            var rowId = item.Serie.ToString() + item.NumDoc.ToString();
            var rowCollapse = rowId + "Collapse";
            var rowCollapseId = "#" + rowCollapse;
            <div class="panel panel-default row">
                <div role="tab" id=@rowId>
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href=@rowCollapseId aria-expanded="false" aria-controls=@rowCollapse>
                        <div class="col-sm-3">@Html.DisplayFor(model => item.Entidade)</div>
                        <div class="col-sm-3">@item.Data.ToShortDateString()</div>
                        <div class="col-sm-3">@Html.DisplayFor(modelItem => item.TotalMerc)</div>
                        <div class="col-sm-3">@Html.DisplayFor(modelItem => item.LinhasDoc.Count)</div>
                    </a>
                </div>
            </div>
            <div class="panel panel-default row">
                <div id=@rowCollapse class="panel-collapse collapse" role="tabpanel" aria-labelledby=@rowId>
                    <div class="panel-body">
                        <div class="col-sm-4">@Html.DisplayFor(modelItem => item.Serie) @Html.DisplayNameFor(model => model.NumDoc) </div>
                        <div class="col-sm-4">@Html.DisplayFor(model => item.NumDocExterno)</div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Details", "DetailOrder", "Home", new
               {
                   //loginInfo = new {
                   Company = ViewBag.loginInfo.Company,
                   Username = ViewBag.loginInfo.Username,
                   Password = ViewBag.loginInfo.Password //}
                   ,
                   idDocument = @Html.DisplayFor(modelItem => item.id)
               }, htmlAttributes: null)
                        </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
