@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SINF_App.Models.Login

<br />
<div class="container">

    @using (Html.BeginForm("Login","Home"))
    {
        <h2>Login</h2>

        <table>

            <!--Username-->
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>

            <!--Password-->
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.TextBoxFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>

            <!--Company-->
            <tr>
                <td>@Html.LabelFor(m => m.Company)</td>
                <td>@Html.TextBoxFor(m => m.Company)</td>
                <td>@Html.ValidationMessageFor(m => m.Company)</td>
            </tr>

            <!--Submit-->
            <tr>
                <td><button type="submit" class="btn btn-default">Submit</button></td>
            </tr>

        </table>
    }

</div>
